<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ERPEntities" connectionString="metadata=res://*/EF.ERPModel.csdl|res://*/EF.ERPModel.ssdl|res://*/EF.ERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1R1T4VB\SQLEXPRESS;initial catalog=ERP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>